<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front end navigation</title>
  <link rel="icon" href="img/logo.png">
  <link rel="stylesheet" href="https://yarn.pm/normalize.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <div id="app">
    <div class="template-prefix" v-if="false">hide templates</div>

    <ul v-for="item in resources">
      <li>
        <div>{{item.title}}</div>
        <ul v-for="tag in item.tags">
          <li>
            <div>{{tag.title}}</div>
            <ul v-for="link in tag.links">
              <li :title="link.url">
                <a :href="link.url">{{link.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="./js//data.js"></script>
  <script src="./js//index.js"></script>
</body>
</html>
